body {
  background-color: #fff4e0;
  color: black;
  font-family: "Kode Mono", monospace;
}

header {
  color: #4d4d4d;
  font-family: "Monofett", monospace;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.player1,
.player2 {
  font-size: 30px;
  text-align: center;
  padding: 5px;
  width: 500px;
  height: 600px;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 0;
}

section img {
  width: 400px;
  height: 400px;
}

.welcome--modal {
  background-color: #ffbf9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 350px;
  padding: 80px 50px;
  box-shadow: 0 5px 5px #4d4d4d;
  transition: all 0.5s;
}

.timer--modal {
  background-color: #b46060;
  color: white;
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #4d4d4d;
  transition: all 0.5s;
}

.result--modal {
  background-color: #b46060;
  color: white;
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #4d4d4d;
  transition: all 0.5s;
}

.text--welcomemodal,
.text--resultmodal {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.text--timermodal {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.btn--play {
  background-color: #b46060;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 10px 169px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn--submitplayer {
  background-color: #b46060;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 169px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn--play:hover {
  background-color: #b46060;
  box-shadow: 0 10px 15px #4d4d4d;
}
.btn--playagain:hover {
  background-color: #b46060;
  box-shadow: 0 10px 15px #4d4d4d;
}
.btn--submitplayer:hover {
  background-color: #b46060;
  box-shadow: 0 10px 15px #4d4d4d;
}

.name--player1,
.name--player2 {
  background-color: #fff4e0;
  color: black;
  font-family: "Kode Mono", monospace;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
